extends ../layouts/application.pug

block content
  h1.display-4.fw-bold.mt-4= t('statuses.title')
  a.btn.btn-primary.me-1(href=`/statuses/new`)= t('statuses.action.create')
  table.table.table-striped.mt-5
    thead
      tr
        th= t('statuses.id')
        th= t('statuses.name')
        th= t('statuses.createdAt')
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td= formatDate(status.createdAt)
          td
            .d-flex.flex-wrap
              a.btn.btn-primary.me-1(href=`/statuses/${status.id}/edit`)= t('statuses.action.change')
              +buttonTo(`/statuses/${status.id}`, 'delete')(class="btn btn-danger" value=t('statuses.action.delete'))